// Specific CSS for your home-page
.containersvg {
  background-color: white;
  opacity: 0.9;
}
.banner-home {
  height: 100vh;
  display: flex;
  // justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("background.jpg");
  background-size: cover;
  background-position: center;
  h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
  }
  p {
    color: white;
    opacity: .8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
  .btn {
    padding: 15px 50px;
    background-color: #F2C94C;
  }
}





// animated text
.sign {
  background-color: #F2C94C;
  text-decoration: none;
  color: #0E0000;
}

.sign:hover {
  text-decoration: none;
}



svg {
  width: 100%;

}
.filled-heading {
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-size: 5em;
    line-height: 0.9;

}

#background path {
    animation: pulse 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite;
    transform-origin: 50% 50%;
    transform-box: fill-box;
}
#textClip text {
    display: none;

}
#textClip text:nth-of-type(n + 1):nth-of-type(-n + 3) {
    display: inline;
}

@keyframes pulse {
    0%, 100% { transform: scale(0) rotate(33deg); }
    35%, 65% { transform: scale(1) rotate(0deg); }
}



// animated text end









