// Import page-specific CSS files here.
@import "home";
@import "kitchensink";
@import "show";
@import "user_show";
@import "after_signup";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import "form_two";
@import "user_index";


// SLICK SCROLLER
.scroller {
  div {
    text-align: center;
    // font-size: 30px;
  }
}

.slick-prev::before, .slick-next::before {
  color: #000;
}

.slick-next {
  right: -5px;
}

.slick-prev {
  left: -5px;
}
// SLICK SCROLLER END

#description{
  font-size: 24px;
  margin-top: 150px;
}
.container #description {
  text-align: center;
}




.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h1 {
    color: white;
    font-weight: bold;
    font-size: 100px;
    font-family: 'Inter', sans-serif;
  }
  p {
    color: white;
    opacity: .8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
  }

  #try {
  opacity: 0.5;
  height: 200px;
  position: relative;
  }

  #trytwo {
  opacity: 0.5;
  height: 500px;
  position: relative;
  }
}

.description {
  color:white;
  background-color: black;

}






