// Import page-specific CSS files here.
@import "home";
@import "kitchensink";
@import "show";
@import "user_show";


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
  }
  p {
    color: white;
    opacity: .8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
}
