.show-border {
  margin: 20px 20px;
  
  h4 {
    padding: 10px;
  }
  p {
    padding: 10px;
  }
}

.info-border {
  border: 1px solid;
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
  border-color: #F2C94C;
  width: 50%;
  padding: 15px;
  margin-left: 15px;
}

.map {
  margin-right: 15px;
}

.display {
  display: flex;
  margin: 20px;
}
 

.info-border {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 200px;
  height: 200px;
  text-align: center;
  justify-content: center;
  color: white;
  border-radius: 40px;
  background-color: black;
}


/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.banner {
  p{
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
  }
}