.user-banner {
    background-size: cover;
    background-position: center;
    padding: 250px 0;
    .center {
      position: absolute;
    }
    p {
      color: white;
      font-size: 25px;
      font-weight: lighter;
      margin: auto;
      margin-left: 10px;
    }
}

.avatar-large {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  margin-left: 10px;
}
.message {
  .simple_form {
    display: block;
  }
}

.info {
  display: flex;
}

.center {
  h2{
    color: white;
    font-size: 45px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
  }
  h3 {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
  }
}
.usercontainer {
  .simple_form {
    display: block;
  }
}

.cities {
  h1 {
    align-self: center;
    margin-left: 25px;
  }
}

.cities {
  .card {
    height: 100px;
    width: 100px;
    margin: 5px;

  }
}

// #user-btn {
//   height: 35px;
// }

.col-sm-2 {
  align-self: center;
}

.form-group {
  .simple_form {
    display: block;
  }
}