.user-banner {
    background-size: cover;
    background-position: center;
    padding: 250px 0;
    .center {
      position: absolute;
    }
    p {
      color: white;
      font-size: 25px;
      font-weight: lighter;
      margin: auto;
      margin-left: 10px;
    }
}

.avatar-large {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  margin-left: 10px;
}
.message {
  .simple_form {
    display: block;
  }
}

.info {
  display: flex;
}

.center {
  h2{
    color: white;
    font-size: 45px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
  }
  h3 {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
  }
}
.usercontainer {
  .simple_form {
    display: block;
  }
}
#interests {
  display: flex;
  margin-left: 50px;
}

.cities {
  h1 {
    align-self: center;
    margin-left: 25px;
  }
}

.cities {
  .card {
    height: 100px;
    width: 100px;
    margin: 5px;

  }
}

// #user-btn {
//   height: 35px;
// }

.col-sm-2 {
  align-self: center;
}

.form-group {
  text-align: -webkit-center;
  .simple_form {
    display: block;
  }
}

// new card

@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: white;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

.profile-banner {
  background: #fff;
  width: 100%;
  display: flex;
  padding: 150px 0;
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.profile-img {
  float: left;
  width: 340px;
  height: 200px;
}

.profile-img img {
  border-radius: 50%;
  height: 230px;
  width: 230px;
  border: 5px solid #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 20px;
  top: 340px;
  z-index: 5;
  background: #fff;
}

.profile-nav-info {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
  position: absolute;
  margin-top: 200px;
  margin-left: 350px;
}

.profile-nav-info h3 {
  font-variant: small-caps;
  font-size: 5rem;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.profile-nav-info .address {
  display: flex;
  font-weight: bold;
  color: #777;
}

.profile-nav-info .address p {
  margin-right: 5px;
}

.profile-option {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 50px;
  top: 50%;
  margin-top: 250px;
  transform: translateY(-50%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  outline: none;
  background: #F2C94C;
}

.profile-option:hover {
  background: #fff;
  border: 1px solid #F2C94C;
}
.profile-option:hover .notification i {
  color: #F2C94C;
}

.profile-option:hover span {
  background: #F2C94C;
}

.profile-option .notification i {
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
}

.profile-option .notification .alert-message {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #fff;
  color: #F2C94C;
  border: 1px solid #F2C94C;
  padding: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
}

.main-bd {
  width: 100%;
  display: flex;
  padding-right: 15px;
}

.profile-side {
  width: 300px;
  background: rgb(240, 237, 228);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 90px 30px 20px;
  font-family: "Inter", serif;
  z-index: 99;
}

.profile-side p {
  margin-bottom: 7px;
  color: #333;
  font-size: 16px;
}

.profile-side p i {
  color: #F2C94C;
  margin-right: 10px;
}

.mobile-no i {
  transform: rotateY(180deg);
  color: #F2C94C;
}

.profile-btn {
  display: flex;
}

button.chatbtn,
button.createbtn {
  border: 0;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  background: #F2C94C;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  margin: 5px 2px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  transition: background 0.3s ease-in-out;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
}

button.chatbtn:hover,
button.createbtn:hover {
  background: rgba(288, 0, 70, 0.9);
}

button.chatbtn i,
button.createbtn i {
  margin-right: 5px;
}

.user-name {

    color: white;

}

.user-rating {
  display: flex;
  justify-content: space-between;
}

.user-rating h3 {
  font-size: 2.5rem;
  font-weight: 200;
  margin-right: 5px;
  letter-spacing: 1px;
  color: #666;
}

.user-rating .no-of-user-rate {
  font-size: 0.9rem;
}

.rate {
  padding-top: 6px;
}

.rate i {
  font-size: 32px;
  color: #F2C94C;
}

.nav {
  width: 100%;
  z-index: -1;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  height: 40px;
  background: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.nav ul li {
  padding: 10px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.nav ul li:hover,
.nav ul li.active {
  box-shadow: 0px -3px 0px rgba(	242, 201, 76, 0.9) inset;
}

.profile-body {
  width: 100%;
  z-index: -1;
}

.tab {
  display: none;
}

.tab {
  padding: 20px;
  width: 100%;
  text-align: center;
}

@media (max-width: 1100px) {
  .profile-side {
    width: 250px;
    padding: 90px 15px 20px;
  }

  .profile-img img {
    height: 200px;
    width: 200px;
    left: 50px;
    top: 50px;
  }
}

@media (max-width: 900px) {
  body {
    margin: 0 20px;
  }

  .profile-header {
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
  }

  .profile-img {
    float: left;
    width: 100%;
    height: 200px;
  }

  .profile-img img {
    position: relative;
    height: 200px;
    width: 200px;
    left: 0px;
  }

  .profile-nav-info {
    text-align: center;
  }

  .profile-option {
    right: 20px;
    top: 75%;
    transform: translateY(50%);
  }

  .main-bd {
    flex-direction: column;
    padding-right: 0;
  }

  .profile-side {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 5px 0;
  }

  .profile-nav-info .address {
    justify-content: center;
  }

  .user-rating {
    justify-content: center;
  }
}

.user-bio {
  padding: 15px;
  h2 {
    font-size: 39px;
    margin-left: 35px;

  }
  p {
    font-size: 20px;
    margin-left: 35px;

  }
}

@media (max-width: 400px) {
  body {
    margin: auto;
  }

  .profile-header h3 {
  }

  .profile-option {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 83%;
  }

  .profile-option .notification .alert-message {
    top: -3px;
    right: -4px;
    padding: 4px;
    height: 15px;
    width: 15px;
    font-size: 0.7rem;
  }

  .profile-nav-info h3 {
    font-size: 1.9rem;
  }

  .profile-nav-info .address p,
  .profile-nav-info .address span {
    font-size: 0.7rem;
  }
}
#see-more-bio,
#see-less-bio {
  color: blue;
  cursor: pointer;
  text-transform: lowercase;
}
.tab h1 {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.rating-form {
  text-align: center;
}

// User interest

html {
  margin: 0;
  padding: 0;
}

.profile-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  .simple_form {
    display: block;
  }
}



.ks-cboxtags {
  list-style: none;
  padding: 20px;
}
.ks-cboxtags {
display: inline;
}
.ks-cboxtags label{
  display: inline-block;
  background-color: rgba(255, 255, 255, .9);
  border: 2px solid rgba(139, 139, 139, .3);
  color: #adadad;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all .2s;
}

.ks-cboxtags label {
  padding: 8px 12px;
  cursor: pointer;
}

.ks-cboxtags label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content: "\f067";
  transition: transform .3s ease-in-out;
}

.ks-cboxtags input[type="checkbox"]:checked + label::before {
  content: "\f00c";
  transform: rotate(-360deg);
  transition: transform .3s ease-in-out;
}

.ks-cboxtags input[type="checkbox"]:checked + label {
  border: 2px solid #F2C94C;
  background-color: #4F4F4F;
  color: #fff;
  transition: all .2s;
}

.ks-cboxtags input[type="checkbox"] {
display: absolute;
}
.ks-cboxtags input[type="checkbox"] {
position: absolute;
opacity: 0;
}
.ks-cboxtags input[type="checkbox"]:focus + label {
border: 2px solid #F2C94C;
}

.form-group {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.allreviews {
  display: flex; 
}

.interest-btn {
  width: 136px;
}

.marginleft {
  margin-left: 70px;
}
