@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

#city-main{
  font-size: 14px;

}

#city-description{
  font-size: 18px;
}
.list-group-item {

    display: inline-flex;

}

.list-group-item-nonflex {
    display: block;
}


.main-title {
  background-color: rgba(242, 201, 76, .2);
  color: rgba(0, 0, 0, 0.7);
}

html,
body {
  margin: 0;
}

body {
  background: linear-gradient(#e8e8e8, #e0e0e0);
}

#sticky {
  margin-top: 100px;

  margin: 0 auto;
  font-family: 'Inter', sans-serif;
}

#sticky-card {
  height: 100vh;
  width : 100vw;
  top: 70px;
  position: sticky;
  border: 3px solid rgba(0, 0, 0, .8);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  color: #333;
  margin-top: 50px;
  // border-radius: 10px;
  margin-bottom: 20px;

  h2 {
    padding: 0;
  }
  span {
    display: block;
    font-size: 14px;

  }
}

@for $i from 1 through 12 {
  #sticky-card:nth-child(#{$i}n) {
    top: $i * 30px;
  }
}
